{
  "presets": [
    [
      "babel-preset-jam",
      {
        "targets": {
          "node": "6"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ]
}
